*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-fluid{
    max-width: 1920px;
    margin: auto;
}

.flag{
    width: 30px;
}


/*************************************CARD STYLING******************************************/
.show {
  margin: 3rem 0px;
  text-align: center;
  max-height: 513px;
  overflow-y: hidden;
  max-width: 300px;
  overflow-x: hidden;
  
  .poster{
    position: relative;
    width: 300px;
    margin: auto;
     &:hover{
         .show_data{
             visibility: visible;
         }
     }

     .poster_img{
        height: 450px;
        width: 300px;
     }

     .show_data {
        border: 2px solid gray;
        height: 450px;
        width: 300px;
        top: 0%;
        position: absolute;
        color: white;
        visibility: hidden;
        background-color: rgba(0, 0, 0, 0.884);
        
        &:hover{
            visibility: visible;
        }

        .star {
        justify-content: center;
        }

    }
  }
}