*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    max-width: 1920px;
    margin: auto;
}

.flag{
    width: 30px;
}

.show {
  margin: 3rem 0px;
  position: relative;
  text-align: center;
  max-height: 513px;
  overflow-y: hidden;
  width: 342px;

  .show_data {
    height: 513px;
    min-width: 360px;
    max-width: 360px;
    position: absolute;
    left: 15%;
    top: 0%;
    color: white;
    visibility: hidden;
    background-color: black;
        &:hover{
            visibility: visible;
        }

  }
  .poster{
    min-width: 319px;
    max-width: 319px;
    margin: auto;
     &:hover ~ .show_data{
         visibility: visible;
     }
  }
}